.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
  position: relative;
}

#bulbasaur {
  /* your code here */
  position: relative;
  top: 20px;
}

#charmander {
  /* your code here */
  position: relative;
  top: 60px;
}

#squirtle {
  /* your code here */
  position: relative;
  top: 110px;
}

#pikachu {
  /* your code here */
  position: relative;
  top: 175px;
}

#jigglypuff {
  /* your code here */
  position: relative;
  top: 300px;
}
