.pokemon {
  width: 900px;
  margin: 0 auto;
  text-align: center;
}

.pokemon > img {
  width: 150px;

  /* your code here */
}

#bulbasaur {
  /* your code here */
  position: relative;
  right: 320px;
  top: 20px;
}

#charmander {
  /* your code here */
  position: relative;
  right: 300px;
  top: 60px;
}

#squirtle {
  /* your code here */
  position: relative;
  right: 280px;
  top: 90px;
}

#pikachu {
  /* your code here */
  position: relative;
  right: 260px;
  top: 160px;
}

#jigglypuff {
  /* your code here */
  position: relative;
  right: 240px;
  top: 230px;
}
