.row {
  display: flex;
}

.container {
  margin: auto;
  width: 800px;
}

.center {
  justify-content: center;
  margin-top: 50%;
}

body {
  font-family: Roboto, sans-serif;
  background-color: rgb(248 243 238);
}

.incorrect {
  color: rgb(143 37 12);
}

.correct {
  color: rgb(107 112 92);
}

.underline {
  border-bottom: 3px solid black;
}

.underline-red {
  border-bottom: 3px solid rgb(143 37 12);
}
