* {
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: auto;
}

.row {
  text-align: center;
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: bold;
  margin-right: 20px;
  margin-left: 20px;
}

.col-row {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}

.main-container {
  margin: 15px;
}

.less-container {
  width: 91%;
  padding-left: 100px;
}

.col-whole {
  align-content: center;
  margin: auto;
  font-weight: bold;
}

.biggest-text {
  font-size: 25px;
}

.margin-top {
  margin-top: 60px;
}

p {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.half-columns {
  margin: 30px;
  padding: 10px;
  display: flex;
}

.button-marg {
  margin-top: 30px;
  text-align: center;
}

button {
  border: solid;
  border-color: rgb(210 80 73);
  background-color: white;
  border-width: 3px;
  color: rgb(210 80 73);
  padding: 10px 50px;
  font-family: Karla, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
}
